@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <nav class="navbar navbar-inverse navbar-expand-lg">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron" style='background-image:url("/img/TatuajeOnePiece.PNG")'>
            
            <h1> E-Wellness</h1><br />
            <p>
                Da un mejor servicio a tus clientes
                de una manera sencilla
            </p>
            <h1>Hola</h1>

            <div class="input-group">

                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Registrar</button>
                </div>
            </div>
        </div>

    </div>
</div>