
@{
    ViewData["Title"] = "ClienteGymList";
}


    <div class="container" style="background-color:black;">
        @*<img src="/img/TatuajeOnePiece.PNG" style="opacity:0.3" />*@
        <div class="row" id="contenedor">

        </div>
    </div>
@section Scripts {
    <script src="~/js/ClienteGymList.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}