
@{
    ViewData["Title"] = "ClienteGymList";
}


    <div class="container">

        <div class="row" id="contenedor">

        </div>
    </div>
@section Scripts {
    <script src="~/js/ClienteGymList.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}