@model Proyecto3lenguajes.Models.Administrador

@{
    ViewData["Title"] = "Actualizar";
}

<h1>Actualizar</h1>

<h4>Administrador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Actualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id_administrador" class="control-label"></label>
                <input asp-for="id_administrador" class="form-control" />
                <span asp-validation-for="id_administrador" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ubicacion" class="control-label"></label>
                <input asp-for="ubicacion" class="form-control" />
                <span asp-validation-for="ubicacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="capacidad" class="control-label"></label>
                <input asp-for="capacidad" class="form-control" />
                <span asp-validation-for="capacidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="porcentaje" class="control-label"></label>
                <input asp-for="porcentaje" class="form-control" />
                <span asp-validation-for="porcentaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaI" class="control-label"></label>
                <input asp-for="horaI" class="form-control" />
                <span asp-validation-for="horaI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="horaC" class="control-label"></label>
                <input asp-for="horaC" class="form-control" />
                <span asp-validation-for="horaC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rutaLogo" class="control-label"></label>
                <input asp-for="rutaLogo" class="form-control" />
                <span asp-validation-for="rutaLogo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rutaImagenes" class="control-label"></label>
                <input asp-for="rutaImagenes" class="form-control" />
                <span asp-validation-for="rutaImagenes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pass" class="control-label"></label>
                <input asp-for="pass" class="form-control" />
                <span asp-validation-for="pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

