@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-12">


    <div class="jumbotron col-12" style="background-color:rgb(10, 129, 16); background-repeat: no-repeat; background-attachment: fixed; background-size:cover; opacity:0.51; width: 600px; height:300px">
        <div class="col-12" style="opacity:4,0">
            <h1> E-Wellness</h1><br />
            <p>
                Se parte de la mejor experiencia para fortalecer y alcanzar tus metas.
            </p>


        </div>
        <div class="input-group">

            <div class="input-group-btn">
                <button type="button" class="btn btn-danger" style="background-color:rgb(165, 11, 11); opacity:1">Registrar</button>
            </div>
        </div>
    </div>


</div>
